{% extends 'base.html' %}

{% block content %}
    <div class="warning">
        {% if not_found %}
            {{not_found}}
        {% endif %}
    </div>
    <div class="main-content">
        <div class="custom-bg">
            <h1> {{ bonus_name }} </h1>
            <h5>Digite o valor de suas vendas para calcular sua bonificação.</h1>
            
                <form class="sub-content col-12 mx-auto" method="POST" action="/{{ bonus_id }}/view-bonus">
                    <div class="sub-content">
                        {% csrf_token %}   
                        <input class="form-control " id="vendas" name="value" placeholder="Vendas" required onkeyup="formatarMoeda();">
                        <button type="submit" class="btn btn-success">Calcular</button>
                    </div> 
                </form>  
            
                {% if value %}
                    <div class="bonus">
                        {{value}}
                    </div>
                {% endif %}
            
        </div>
    </div>
{% endblock %}